In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [8]:
df = pd.read_csv('data/train.csv')
df.head()

,Rescue_ID,Date_TimeCaught,Researcher,CaptureSite,ForagingGround,CaptureMethod,Fisher,LandingSite,Species,Tag_1,...,Lost_Tags,T_Number,CCL_cm,CCW_cm,Weight_Kg,Sex,TurtleCharacteristics,Status,ReleaseSite,Date_TimeRelease
0,2000_RE_0060,2000-12-22,Researcher_25,CaptureSite_0,Ocean,Net,Fisher_1072,LandingSite_CaptureSiteCategory_2,Species_6,CC00147,...,NaN,NaN,64.70,62.60,NaN,Unknown,algae at rear of shell,Released,ReleaseSite_50,22/12/00
1,2001_RE_0187,2001-10-28,Researcher_6,CaptureSite_0,Ocean,Net,Fisher_520,LandingSite_CaptureSiteCategory_2,Species_6,W442,...,NaN,NaN,35.85,31.35,NaN,Unknown,multiple b's on front flippers& a lot of alga...,Released,ReleaseSite_62,28/10/01
2,2001_RE_0197,2001-11-01,Researcher_6,CaptureSite_0,Ocean,Net,Fisher_1669,LandingSite_CaptureSiteCategory_2,Species_5,KE0376,...,NaN,NaN,51.80,49.20,NaN,Unknown,clean,Released,ReleaseSite_50,01/11/01
3,2002_RE_0031,2002-03-11,Researcher_32,CaptureSite_0,Ocean,Net,Fisher_1798,LandingSite_CaptureSiteCategory_2,Species_6,CC00302,...,NaN,NaN,60.50,59.00,NaN,Unknown,1 b 3 CS+ calcerous algae at rear end of shell...,Released,ReleaseSite_50,11/03/02
4,2002_RE_0118,2002-08-08,Researcher_25,CaptureSite_0,Ocean,Beached,Fisher_1918,LandingSite_CaptureSiteCategory_2,Species_5,NotTagged_0113,...,NaN,NaN,34.70,33.00,NaN,Unknown,very lively+ right eye is hanging out + swolle...,Released,ReleaseSite_62,08/08/02

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18062 entries, 0 to 18061
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rescue_ID              18062 non-null  object
 1   Date_TimeCaught        18062 non-null  object
 2   Researcher             18062 non-null  object
 3   CaptureSite            18062 non-null  object
 4   ForagingGround         18062 non-null  object
 5   CaptureMethod          18062 non-null  object
 6   Fisher                 18062 non-null  object
 7   LandingSite            18062 non-null  object
 8   Species                18062 non-null  object
 9   Tag_1                  17937 non-null  object
 10  Tag_2                  4911 non-null   object
 11  Lost_Tags              925 non-null    object
 12  T_Number               38 non-null     object
 13  CCL_cm                 18038 non-null  float64
 14  CCW_cm                 18035 non-null  float64
 15  Weight_Kg              12653 non-null  float64
 16  Sex                    13732 non-null  object
 17  TurtleCharacteristics  18010 non-null  object
 18  Status                 14429 non-null  object
 19  ReleaseSite            17987 non-null  object
 20  Date_TimeRelease       11954 non-null  object
dtypes: float64(3), object(18)
memory usage: 2.9+ MB

In [9]:
df.shape

(18062, 21)

In [19]:
df.columns

Index(['Rescue_ID', 'Date_TimeCaught', 'Researcher', 'CaptureSite',
       'ForagingGround', 'CaptureMethod', 'Fisher', 'LandingSite', 'Species',
       'Tag_1', 'Tag_2', 'Lost_Tags', 'T_Number', 'CCL_cm', 'CCW_cm',
       'Weight_Kg', 'Sex', 'TurtleCharacteristics', 'Status', 'ReleaseSite',
       'Date_TimeRelease'],
      dtype='object')

In [21]:
df['CaptureSite'].nunique()

29

In [12]:
cap_site = pd.read_csv('data/CaptureSite_category.csv')
cap_site.head()

      CaptureSite    CaptureSiteCategory    Type
0   CaptureSite_0  CaptureSiteCategory_2  Type_1
1   CaptureSite_1  CaptureSiteCategory_2  Type_1
2  CaptureSite_10  CaptureSiteCategory_2  Type_1
3  CaptureSite_11  CaptureSiteCategory_0  Type_0
4  CaptureSite_12  CaptureSiteCategory_2  Type_1

In [13]:
cap_site.shape

(29, 3)

In [17]:
cap_site['Type'].nunique()

2

In [18]:
cap_site['CaptureSiteCategory'].nunique()

5